In [1]:
import pandas as pd
import numpy as np

In [12]:
ratings = pd.read_csv(r"C:\\Users\\anupam\\Desktop\\ratings.csv")
books = pd.read_csv(r"C:\\Users\\anupam\\Desktop\\books.csv")

In [165]:
books=books[['ISBN','Book-Author','Year-Of-Publication','Publisher']]
books.head()

,ISBN,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Carlo D'Este,1991,HarperPerennial
3,0374157065,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [166]:
ratings.head()
ratings.shape

(1149780, 3)

In [167]:
data = pd.merge(ratings,books,on='ISBN')
data.head()
data.shape

(1031136, 6)

In [168]:
data.rename(columns = {'Book-Author':'author','Book-Rating':'rating','Year-Of-Publication':'year','User-ID':'user'}, inplace = True)

In [169]:
data.isnull().sum()

user         0
ISBN         0
rating       0
author       1
year         0
Publisher    2
dtype: int64

In [170]:
data = data.dropna()
data=data[0:10000]

In [171]:
data.head()

     user        ISBN  rating      author  year         Publisher
0  276725  034545104X       0  M. J. Rose  2002  Ballantine Books
1    2313  034545104X       5  M. J. Rose  2002  Ballantine Books
2    6543  034545104X       0  M. J. Rose  2002  Ballantine Books
3    8680  034545104X       5  M. J. Rose  2002  Ballantine Books
4   10314  034545104X       9  M. J. Rose  2002  Ballantine Books

In [172]:
y = pd.get_dummies(data.Publisher)
y.head()

,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,Aladdin,Anagrama,Andrews McMeel Publishing,Aufbau Tb,Avon,Avon Books,...,Vintage Books USA,Viz Communications,Warner Books,Washington Square Press,Weathervane Books,Wilhelm Goldmann Verlag GmbH,William Morrow,Wunderlich im Rowohlt,Yearling,iUniverse
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [173]:
new=pd.concat([data, y], axis = 1)
new.head()
data=new

In [174]:
y = pd.get_dummies(data.author)
y.head()

,AMELIA ATWATER-RHODES,ANN BRASHARES,ANNE RICE,ANNE TYLER,APRIL HALPRIN WAYLAND,Alain-Fournier,Alan S. Kesselheim,Alessandro Baricco,Alexandra Jones,Alice Sebold,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [175]:
new=pd.concat([data, y], axis = 1)
new.head()

,user,ISBN,rating,author,year,Publisher,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
0,276725,034545104X,0,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2313,034545104X,5,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6543,034545104X,0,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8680,034545104X,5,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10314,034545104X,9,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [176]:
data=new
data.drop(['author','Publisher','year'], axis = 1)

,user,ISBN,rating,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,Aladdin,Anagrama,Andrews McMeel Publishing,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
0,276725,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2313,034545104X,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6543,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8680,034545104X,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10314,034545104X,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,23768,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,28266,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,28523,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,39002,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,50403,034545104X,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,56157,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,59102,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,59287,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,63970,034545104X,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,77480,034545104X,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,77940,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,81977,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,94362,034545104X,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,98391,034545104X,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,112199,034545104X,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,115435,034545104X,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,123981,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,128045,034545104X,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,128276,034545104X,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,129311,034545104X,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,132081,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,133235,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,135045,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,138543,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,144315,034545104X,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,38937,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9971,39281,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9972,39292,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9973,39345,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9974,39396,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9975,39602,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9976,39646,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9977,39654,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9978,39658,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9979,39773,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9980,40012,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9981,40077,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9982,40110,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9983,40299,0971880107,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9984,40559,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9985,40754,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9986,40841,0971880107,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9987,40919,0971880107,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9988,40943,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9989,40958,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9990,41057,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9991,41135,0971880107,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9992,41183,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9993,41278,0971880107,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9994,41281,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,41425,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,41586,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,41596,0971880107,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,41667,0971880107,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,41701,0971880107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [177]:
user_data=data[(data.user==23768)]
user_data

,user,ISBN,rating,author,year,Publisher,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
5,23768,034545104X,0,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,23768,0446520802,6,Nicholas Sparks,1996,Warner Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
204,23768,038550120X,0,JOHN GRISHAM,2001,Doubleday,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,23768,0425115801,0,Dean R. Koontz,1996,Berkley Publishing Group,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
766,23768,055356451X,0,TAMI HOAG,1995,Bantam,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1274,23768,0684867621,6,Stephen King,1999,Scribner,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1627,23768,0380711524,0,Joy Fielding,1992,Avon,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2602,23768,0061054151,0,Charles Grant,1995,HarperEntertainment,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2794,23768,0064405176,0,Sharon Creech,1996,HarperTrophy,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2866,23768,0440498058,0,MADELEINE L'ENGLE,1998,Yearling,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3676,23768,0316781266,0,Anita Shreve,2002,Back Bay Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4149,23768,0446364193,0,James Patterson,1993,Warner Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5515,23768,042518109X,0,Dean R. Koontz,2001,Berkley Publishing Group,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6683,23768,0316666343,7,Alice Sebold,2002,"Little, Brown",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7875,23768,0345391810,0,Douglas Adams,1995,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8881,23768,0486282112,0,Mary Wollstonecraft Shelley,1994,Dover Publications,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9141,23768,0804106304,0,Amy Tan,1994,Prentice Hall (K-12),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9818,23768,0971880107,0,Rich Shapero,2004,Too Far,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [178]:
user_rating=user_data[['rating']]
user_rating

      rating
5          0
74         6
204        0
379        0
766        0
1274       6
1627       0
2602       0
2794       0
2866       0
3676       0
4149       0
5515       0
6683       7
7875       0
8881       0
9141       0
9818       0

In [179]:
features=user_data.drop(['rating','author','Publisher','user','ISBN','year'], axis = 1)

In [180]:
print('Shape of rating is:',user_rating.shape)
print('Shape of features is:',features.shape)

Shape of rating is: (18, 1)
Shape of features is: (18, 485)

In [181]:
user_profile = features.T.dot(user_rating.rating)
user_profile

A. Mondadori                        0
Ace Books                           0
Adelphi Book Shop Ltd               0
Affholderbach &amp; Strohmann       0
Aladdin                             0
Anagrama                            0
Andrews McMeel Publishing           0
Aufbau Tb                           0
Avon                                0
Avon Books                          0
Avon Trade                          0
BBS Publishing Corporation          0
Back Bay Books                      0
Baen                                0
Baleine                             0
Ballantine Books                    0
Bantam                              0
Bantam Books                        0
Barnes &amp; Noble Books-Imports    0
Bassermann                          0
Berkley Pub Group                   0
Berkley Publishing Group            0
Biblioteca Universale Rizzoli       0
Blanvalet Verlag GmbH               0
Bloomsbury Pub Ltd                  0
Bloomsbury Publishing Plc           0
Bollati Boringhieri                 0
C.H.Beck                            0
Cambridge University Press          0
Careertrack Inc.                    0
                                   ..
Segur                               0
Sharon Creech                       0
Stephen Fry                         0
Stephen King                        6
Sue Harrison                        0
Sue Leather                         0
Susan King                          0
T. J. MacGregor                     0
TAMI HOAG                           0
TRUMAN CAPOTE                       0
Tabucchi                            0
Tamaro                              0
Tanazaki                            0
Terry McMillan                      0
Terry Pratchett                     0
Tess Gerritsen                      0
Thea Dorn                           0
Tom Clancy                          0
Tom Sharpe                          0
Tony Hawks                          0
Tutomu Takahashi                    0
Umberto Eco                         0
V.C. Andrews                        0
Various                             0
Verne                               0
Waris Dirie                         0
Willa Cather                        0
William Shatner                     0
Wolfgang Hohlbein                   0
Yukito Kishiro                      0
Length: 485, dtype: int64

In [182]:
data = data.set_index(data.ISBN)

# let's view the head
data.head()

,user,ISBN,rating,author,year,Publisher,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
ISBN,,,,,,,,,,,,,,,,,,,,,
034545104X,276725,034545104X,0,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,2313,034545104X,5,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,6543,034545104X,0,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,8680,034545104X,5,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,10314,034545104X,9,M. J. Rose,2002,Ballantine Books,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [183]:
data.drop(['user','ISBN','year','rating','author','Publisher'], axis=1, inplace=True)

data.head()

,A. Mondadori,Ace Books,Adelphi Book Shop Ltd,Affholderbach &amp; Strohmann,Aladdin,Anagrama,Andrews McMeel Publishing,Aufbau Tb,Avon,Avon Books,...,Tutomu Takahashi,Umberto Eco,V.C. Andrews,Various,Verne,Waris Dirie,Willa Cather,William Shatner,Wolfgang Hohlbein,Yukito Kishiro
ISBN,,,,,,,,,,,,,,,,,,,,,
034545104X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
034545104X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [198]:
recommendation_table_df = (data.dot(user_profile)) / user_profile.sum()

# Let's view the recommendation table
recommendation_table_df.head()

ISBN
034545104X    0.0
034545104X    0.0
034545104X    0.0
034545104X    0.0
034545104X    0.0
dtype: float64

In [199]:
recommendation_table_df.sort_values(ascending=False, inplace=True)
#recommendation_table_df.drop_duplicates(keep ='last', inplace = True)
#Just a peek at the values
recommendation_table_df

ISBN
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
0316666343    0.368421
                ...
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
0140270272    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
884590184X    0.000000
0140270272    0.000000
034545104X    0.000000
Length: 10000, dtype: float64

In [200]:
index = recommendation_table_df.index
is_duplicate = index.duplicated(keep="first")
not_duplicate = ~is_duplicate
no_duplicate_indeces = recommendation_table_df[not_duplicate]
no_duplicate_indeces

ISBN
0316666343    0.368421
0446520802    0.315789
0684867621    0.315789
0446364193    0.157895
0446613843    0.157895
3404131606    0.157895
0451167317    0.157895
0060096195    0.000000
0671749609    0.000000
0140062718    0.000000
8426449573    0.000000
8495618052    0.000000
8478886044    0.000000
8478885218    0.000000
8426449476    0.000000
8424130081    0.000000
0091830893    0.000000
0812571029    0.000000
3442136644    0.000000
8423996565    0.000000
0786817070    0.000000
1573248533    0.000000
2038701962    0.000000
0385272324    0.000000
1551925060    0.000000
0805057706    0.000000
2070264564    0.000000
2253044903    0.000000
2232122263    0.000000
2080680676    0.000000
                ...
0140367616    0.000000
0141181222    0.000000
0060930934    0.000000
0060951303    0.000000
0151010633    0.000000
0192834312    0.000000
0194216748    0.000000
0240514866    0.000000
0060520507    0.000000
8817106100    0.000000
8831760122    0.000000
8833908488    0.000000
8838910987    0.000000
0449210197    0.000000
8806155873    0.000000
8807806746    0.000000
8807810751    0.000000
0151446474    0.000000
0064430227    0.000000
0671723650    0.000000
042518109X    0.000000
0425167097    0.000000
0425188221    0.000000
8571648972    0.000000
0688172377    0.000000
8804407808    0.000000
884590184X    0.000000
0812533550    0.000000
8806162160    0.000000
0140270272    0.000000
Length: 336, dtype: float64